


$lime:        #7FD962;
$green:       #AAD94C;
$yellow:      #E6B450;
$earthyellow: #E6B673;
$aqua:        #95E6CB;
$cyan:        #39BAE6;
$blue:        #59C2FF;
$mauve:       #D2A6FF;
$mauve2:      #CB9FF8;
$coral:       #F07178; // pink
$red:         #D95757;
$orange:      #FF8F40;
$tangerine:   #F29668;
$peach:       #FFB454;
            
$fg:          #BFBDB6;
$ui:          #565B66;
$gray1:       #636A72;
$gray2:       #454B55;
$gray3:       #626975;


$bg:          #0B0E14;
$bg2:         #11151C;
$bg3:         #0F131A;
$bg4:         #05070A;
$bg5:         #000000;

$guide-active: #3C414A;
$guide-normal: #1E222A;
$selection-bg: #1B3A5B;

$selection-inactive: #122132;
$selection-border: #304357;
$vcs-modified: #73B8FF;
$vcs-removed: #F26D78;
$vcs-added-bg: #1D2214;
$vcs-removed-bg: #2D2220;
$fg-idle: #565B66;

