* {
    all: unset;
    font-family: JetBrains;
    font-size: 15;
}

window {
    background: #090911

}

button {
    all: unset;
    color: #cdd6f4;
    background-color: #181825;
    padding: 10px;
}

button:hover {
    background: #11111b;
}
