$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;
$dark-crust: rgba(09, 09, 17, 0.7);

$bg: $crust;

* {
  all: unset;
  font-family: FiraCode Nerd Font;
  font-size: 17px;
  color: $text;
}

tooltip {
  background-color: $surface1;
  border-radius: 10px;
}

.poweroff {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.cancel {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

window {
  background: $crust;
  border-radius: 1rem;
  border-color: $lavender;
  border-width: 3px;
  border-style: solid;
}

progress {
  border-radius: 20px;
}
progressbar > trough {
  background-color : $base;
}

.powermenu-buttons {
  border-radius: 1rem;
  border-style: solid;
  border-width: 3px;
  border-color: $lavender;
  button {
    &:hover {
      background-color: lighten($crust, 15%);
    }
  }
}

.storage-box {
  margin: 20px;
  label {
    font-size: 16;
  }
}

.home-storage {
  progress {
    background-color : $red;
  }
}

.root-storage {
  progress {
    background-color : $green;
  } 
}
